<div class="wrap-main-content">
    <div id="" class="row">
        <div class="col-md-12"><h1>Card Details<span class="back-to-myaccount pull-right"><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back to My Account</a></span></h1></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><h3>Your loyalty card:</h3></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover small-list">
                            <tr class="header">
                                <td width="10%">&nbsp;</td>
                                <td width="60%">Card number:</td>
                                <td>Loyalty points:</td>
                            </tr>
                            <tr class="loyalty-details odd">
                                <td class="hidden-sm hidden-xs"><img src="http://placehold.it/90x60" class="img-responsive" alt="a" /></td>
                                <td>15406-488-5489</td>
                                <td>50</td>
                            </tr>
                            <tr class="loyalty-details even">
                                <td class="hidden-sm hidden-xs"><img src="http://placehold.it/90x60" class="img-responsive" alt="a" /></td>
                                <td>3265-8451-6574</td>
                                <td>250</td>
                            </tr>
                            <tr class="loyalty-details odd">
                                <td class="hidden-sm hidden-xs"><img src="http://placehold.it/90x60" class="img-responsive" alt="a" /></td>
                                <td>6985-6584-7654</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12"><h3>Programs per card:</h3></div>
                <div class="col-md-12">
                    <div class="card-program bg-default">
                        <h5>Basic program</h5>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-program bg-not-avaliable">
                        <h5>Loyalty program</h5>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-program bg-default">
                        <h5>Gold member program</h5>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12"><h3>Tier progress:</h3></div>
                <div class="col-md-12">
                    <div class="tier-label bg-success">
                        <h5>Bronze <span class="expiration-date">Expires 09/26/2015</span></h5>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tier-label bg-success">
                        <h5>Silver <span class="expiration-date">Expires 06/12/2015</span></h5>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tier-label bg-not-avaliable">
                        <h5>Gold</h5>
                        <span class="not-avaliable">Not yet eligible</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12"><h3>Transaction history:</h3></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover small-list">
                            <tr class="header">
                                <td>Transaction number:</td>
                                <td>Date:</td>
                                <td>Time:</td>
                                <td>Store:</td>
                                <td>Type:</td>
                                <td>Points:</td>
                                <td>Expiration date:</td>
                            </tr>
                            <tr class="odd">
                                <td>12451-66547800-20</td>
                                <td>12/01/2014</td>
                                <td>3:45 AM</td>
                                <td>Bellevue 5th</td>
                                <td>Cashiers discount</td>
                                <td>25</td>
                                <td>6/15/2020</td>
                            </tr>
                            <tr class="even">
                                <td>12451-66547800-20</td>
                                <td>12/01/2014</td>
                                <td>3:45 AM</td>
                                <td>Bellevue 5th</td>
                                <td>Cashiers discount</td>
                                <td>25</td>
                                <td>6/15/2020</td>
                            </tr>
                            <tr class="odd">
                                <td>12451-66547800-20</td>
                                <td>12/01/2014</td>
                                <td>3:45 AM</td>
                                <td>Bellevue 5th</td>
                                <td>Cashiers discount</td>
                                <td>25</td>
                                <td>6/15/2020</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 border-top">
            <button type="button" onclick="javascript:history.go(-1)" class="btn btn-default">Back to my account</button>
        </div>
    </div>
</div>