<div class="col-md-12"><h1>SEND BY EMAIL</h1></div>
<div class="col-md-12"><h3>Send gift card to a friend:</h3></div>
    <div class="col-md-6">
        <div class="form-group">
            <label data-bind="attr:{for:'lineShippingEmailSenderName-'+ externalCartlineId}">Your name</label>
            <input type="text" class="form-control" data-bind="attr:{id:'lineShippingEmailSenderName-'+ externalCartlineId}" placeholder="Your name">
        </div>
        <div class="form-group">
            <label data-bind="attr:{for:'lineShippingEmailSenderAddress-'+ externalCartlineId}">Your email</label>
            <input type="text" class="form-control" data-bind="attr:{id:'lineShippingEmailSenderAddress-'+ externalCartlineId}" placeholder="Your email">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label data-bind="attr:{for:'lineShippingFriendName-'+ externalCartlineId}">Your friends name</label>
            <input type="text" class="form-control" data-bind="attr:{id:'lineShippingFriendName-'+ externalCartlineId}" placeholder="Your friends name">
        </div>
        <div class="form-group">
            <label data-bind="attr:{for:'lineShippingSelectedEmail-'+ externalCartlineId}">Your friends email</label>
            <input type="text" class="form-control" data-bind="attr:{id:'lineShippingSelectedEmail-'+ externalCartlineId}" placeholder="Your friends email">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label data-bind="attr:{for:'lineShippingSelectedEmailContent-'+ externalCartlineId}">Write your message here</label>
            <textarea class="form-control" rows="3" data-bind="attr:{id:'lineShippingSelectedEmailContent-'+ externalCartlineId}"></textarea>
        </div>
    </div>