<div class="col-md-12"><h1>PICK UP ITEMS AT STORE</h1></div>
<div class="col-md-8"><h4>Find a store near you</h4></div>
<div class="col-md-4"><h4>Stores close to your current position</h4></div>
    <div class="col-md-8">
        <div class="input-group find-store">
            <input type="text" data-bind="attr:{id:'lineStoreAddressSearch-'+ externalCartlineId}" class="form-control lineStoreAddressSearch" placeholder="@Html.Sitecore().Field("Search Input Placeholder", Html.Sitecore().CurrentItem.Children["Delivery"])">
            <span data-bind="attr:{id:'lineSearchStores-'+ externalCartlineId}" class="input-group-addon lineSearchStores"><i class="fa fa-search"></i></span>
        </div>
        <div class="form-group">
            <div data-bind="attr:{id:'lineStoresMap-'+ externalCartlineId}" class="Flexible-container map-canvas"></div>
        </div>
    </div>
    <div data-bind="attr:{id:'lineStoreSearchResultsContainer-'+ externalCartlineId}" class="col-md-4" style="display:none;"></div>

