<div class="wrap-nav-extras">
    @Html.Sitecore().Placeholder("navigationextra")
</div>
<div class="wrap-main-nav">
    <div class="row">
        <div class="col-md-12">
            @Html.Sitecore().Placeholder("navigationmain")
        </div>
    </div>
</div>
