<div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">                
                @Html.Sitecore().Placeholder("topleft")  
            </div>
            <div class="col-md-4 col-md-push-4 col-sm-6 col-xs-6">
                @Html.Sitecore().Placeholder("topcenter")
            </div>
            <div class="col-md-4 col-md-pull-4 col-sm-12 col-xs-12" id="topright">
                @Html.Sitecore().Placeholder("topright")
            </div>
</div>
