@using Sitecore.Commerce.Storefront.Managers;
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 chk-prev"><a class="btn btn-info" href="@StorefrontManager.StorefrontHome">Back to shopping</a></div>
        <div class="col-md-6 col-sm-6 col-xs-6 chk-next"><a href="@StorefrontManager.StorefrontUri("/Checkout")" class="btn btn-success">Checkout</a></div>
    </div>
</div>