@model ProductViewModel
           
<div id="C08-ProductImages" class="product-image-container">
    <div class="prod-img">        
        <img src="@Model.Images[0].GetImageUrl(770,625)" class="img-responsive" alt="a" id="prod-large-view" />
    </div>
    <div class="thumbnails">
        <ul>
            @foreach (var mediaItem in Model.Images)
            {
                <li><a href="@mediaItem.GetImageUrl(770, 625)"><img src="@mediaItem.GetImageUrl(80, 65)" class="img-responsive" alt="a" /></a></li>
            }
        </ul>
    </div>
</div>