<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerceServer>
      <types>
        <type name="ISiteContext" type="Sitecore.Commerce.Storefront.SiteContext, Sitecore.Commerce.Storefront" lifetime="Singleton"/>
      </types>
    </commerceServer>

    <settings>
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/js|/styles|/bundles</patch:attribute>
      </setting>
      <setting name="ContentSearch.Solr.ServiceBaseAddress">
        <patch:attribute name="value">http://localhost:8080/solr</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
    </settings>    
    
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" type="Sitecore.Commerce.Storefront.SitecorePipelines.InitializeBundles, Sitecore.Commerce.Storefront" />
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" type="Sitecore.Commerce.Storefront.SitecorePipelines.InitializeRoutes, Sitecore.Commerce.Storefront"/>
      </initialize>
      <httpRequestBegin>
        <!-- 
            This processor sets the context item to the product that is matched to incoming URL parameters.
         -->
        <processor type="Sitecore.Commerce.Storefront.SitecorePipelines.ProductItemResolver, Sitecore.Commerce.Storefront" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>

    <linkManager defaultProvider="sitecore">
      <patch:attribute name="defaultProvider">commerce</patch:attribute>
      <providers>
        <add name="commerce" includeFriendlyName="true" useShopLinks="true" includeCatalog="false" addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" type="Sitecore.Commerce.Storefront.SitecorePipelines.CatalogLinkProvider, Sitecore.Commerce.Storefront"/>
      </providers>
    </linkManager>

    <commerce.Entities>
      <CartLine type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer">
        <patch:attribute name="type">Sitecore.Commerce.Storefront.Models.CustomCommerceCartLine, Sitecore.Commerce.Storefront</patch:attribute>
      </CartLine>
    </commerce.Entities>    

  </sitecore>
</configuration>
