<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  CATALOG SERVICE PROVIDER
    -->
    <catalogServiceProvider type="Sitecore.Commerce.Storefront.Services.CatalogServiceProvider, Sitecore.Commerce.Storefront" singleInstance="true" />

    <pipelines>
      <commerce.storefront.visitedProductDetailsPage>
        <processor type="Sitecore.Commerce.Storefront.SitecorePipelines.TriggerVisitedProductDetailsPagePageEvent, Sitecore.Commerce.Storefront">
          <Name>Visited Product Details Page</Name>
          <Text>Visited product details page.</Text>
        </processor>
      </commerce.storefront.visitedProductDetailsPage>
      <commerce.storefront.visitedCategoryPage>
        <processor type="Sitecore.Commerce.Storefront.SitecorePipelines.TriggerVisitedCategoryPagePageEvent, Sitecore.Commerce.Storefront">
          <Name>Visited Category Page</Name>
          <Text>Visited category page.</Text>
        </processor>
      </commerce.storefront.visitedCategoryPage>
    </pipelines>
  </sitecore>
</configuration>