<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <commerce.inventory.visitorSignUpForStockNotification>
        <processor type="Sitecore.Commerce.Pipelines.Inventory.VisitorSignUpForStockNotification.VisitorSignUpForStockNotification, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Inventory.VisitorSignUpForStockNotification.VisitorSignUpForStockNotification, Sitecore.Commerce"
                   patch:before="processor[@type='Sitecore.Commerce.Pipelines.Inventory.VisitorSignUpForStockNotification.TriggerBackInStockSubscriptionPageEvent, Sitecore.Commerce']">
          <param ref="eaPlanProvider" />
          <EngagementPlanName>Website Products Back In Stock</EngagementPlanName>
          <InitialStateName>Waiting</InitialStateName>
        </processor>
      </commerce.inventory.visitorSignUpForStockNotification>

      <commerce.inventory.removeVisitorFromStockNotification>
        <processor type="Sitecore.Commerce.Pipelines.Inventory.RemoveVisitorFromStockNotification.RemoveVisitorFromStockNotification, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Inventory.RemoveVisitorFromStockNotification.RemoveVisitorFromStockNotification, Sitecore.Commerce"
                   patch:before="processor[@type='Sitecore.Commerce.Pipelines.Inventory.RemoveVisitorFromStockNotification.TriggerBackInStockUnsubscriptionPageEvent, Sitecore.Commerce']">
          <EngagementPlanName>Website Products Back In Stock</EngagementPlanName>
        </processor>
      </commerce.inventory.removeVisitorFromStockNotification>
    </pipelines>
  </sitecore>
</configuration>