<div id="E01-ErrorText" class="error-page">
    <h1>404 - We´re so sorry</h1>
    <h5>Don't worry, you will be back on track in no time.</h5>
    <div class="error-page-content">
        <p>The page you are looking for doesn't exist or some other error has occured.</p>
        <p>Go to our <a href="~/">home page</a> or try the <a href="javascript:history.back()">previous page</a></p>
    </div>
</div>
