<div id="C07-Breadcrumbs" class="row">
    <div class="col-md-12 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="product-list.html">Kids</a></li>
            <li class="active">Snowsuit</li>
        </ol>
    </div>
</div>