<div class="col-md-6 col-sm-6 col-xs-6 chk-prev"><button type="button" onclick="location.href='product-list.html'" class="btn btn-info" id="buttonPrev">Continue shopping</button></div>
<div class="col-md-6 col-sm-6 col-xs-6 chk-next"><button type="button" onclick="location.href='checkout-billing.html'" class="btn btn-success" id="nextPrev">Continue to next step</button></div>